body {
	width: 1920px;
	height: 1080px;
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0);

	/* Change your font here. It MUST be installed on
	 * your OS for it to work. Put it first in the list,
	 * reading left to right. Alternatively, you can
	 * go to Google Fonts and find something you like there,
	 * but you'll have to include it in the <head> section of
	 * animated-overlay.html before the line that reads 
	 * <link rel="stylesheet" href="css/style.css">
	 */
	font-family: Arial, Helvetica, sans-serif; 
}

#social-container {
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 20px;
	left: 20px;

	/* You may need to change the width of this container
	 * depending on how long your social networking user
	 * names are.
	 */
	width: 260px;
	height: 80px;

	/* Change these colors as you see fit. Just Google
	 * whatever color you want followed by "hex code"
	 * and you should get some good results. NOTE: the
	 * "color" style is for the font color.
	 */
	background-color: #6441A4;
	color: #FFFFFF;

	/* You may need to play with the font size below
	 * depending on the font you have chosen.
	 */
	font-size: 28pt;
	font-weight: 300;
}

#alert-container {
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 25px;
	left: 20px;
	width: 260px;
	height: 70px;

	/* Change these colors as you see fit. Just Google
	 * whatever color you want followed by "hex code"
	 * and you should get some good results. NOTE: the
	 * "color" style is for the font color.
	 */
	background-color: #EEEEEE;
	color: #333333;

	/* You may need to play with the font size below
	 * depending on the font you have chosen.
	 */
	font-size: 16pt;
	font-weight: 300;
}

/* 
 * ------ DO NOT TOUCH ------
 */
#twitter-name,
#follower,
#follower-title,
#follower-content,
#subscriber,
#subscriber-title,
#subscriber-content,
#cheer,
#cheer-title,
#cheer-content,
#donation,
#donation-title,
#donation-content {
	display: none;
}